* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #dedede;
}

.border {
    border: 3px dashed #666;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}